<!DOCTYPE html>
<html ng-app="featuresApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 500px;
      }
    </style>
</head>

<body>
    <div class="container">
      <div class="row">
        <h3> Location Mapper </h3>
        <a href="/logout/" class="pull-right">Logout</a>
      </div>
      <div id="message" class="row"></div>
      <div id="map"></div>
      <div class="row">
        <br>
        <a id="clear_locations" class="btn btn-primary"  href="#">Clear All Locations</a>
      </div>
    </div>

    <script>
      // using jQuery, obtain CSRF token from django rendered view.
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

      function displayMessage(alert_class, message) {
        document.getElementById('message').innerHTML = '<div class="alert ' + alert_class + '">'
            + message
            + ' <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>';
      }

      function successMessage(message) {
        displayMessage("alert-success", message);
      }

      function failureMessage(message) {
        displayMessage("alert-danger", message);
      }

      function initMap() {
        // initialise map viewport.
        window.map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.850033, lng: -87.6500523},
          zoom: 11
        });

        // add listerner for click even on the map.
        var geocoder = new google.maps.Geocoder;

        // this function does a reverse geocode on a latitude and longitude.
        function reverseGeocode(latlng, success_callback, failure_callback) {
          console.log('reverseGeocode')
          geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                success_callback(results, latlng);
              } else {
                failure_callback(results);
              }
            } else {
              failure_callback(status);
            }
          });
        }

        function addToBackendApi(address_line, latlng, success_callback, error_callback) {
          $.post('/api/locations/',
            {
              'latitude': latlng.lat(),
              'longitude': latlng.lng(),
              'address_line': address_line,
            },
            function(data) {
              success_callback(data);
            },
            'json'
          ).fail(function(error) {
            error_callback(error)
          })
        }

        function loadFusionTable() {
          console.log('Loading fusion table.')
          var timestamp = Math.floor(Date.now() / 1000);
          if (window.fusionLayer !== undefined) {
            // reset fusion layer if it exists.
            window.fusionLayer.setMap(null)
          }
          // add layer from fusion table.
          window.fusionLayer = new google.maps.FusionTablesLayer({
            query: {
              select: '*',
              from: '{{ FUSION_TABLE_ID }}',
              where: timestamp + " = " + timestamp // cache busting.
            }
          });
          window.fusionLayer.setMap(window.map);;
        }
        loadFusionTable();

        function clearAllLocations(success_callback) {
          $.ajax(
            {
            url: '/api/locations/',
            method: "DELETE",
            data: "",
            function(data) {
              success_callback(data);
            }
          });
        }

        // map click event-handler.
        google.maps.event.addListener(window.map, 'click', function(event) {
          displayMessage('alert-info', "Loading...");
          reverseGeocode(event.latLng,
            // we got something successful.
            // Now we only want to only accept the addres if it return location_type of 'ROOFT_TOP',
            // otherwise don't do anything.
            function(results, latLng) {
              if (results.length > 0) {
                var result = results[0];
                if (result.geometry.location_type == "ROOFTOP") {
                  console.log('Is a valid location.')
                  // addToFusionTable(result.formatted_address, latLng);
                  addToBackendApi(
                    result.formatted_address,
                    latLng,
                    function() {
                      loadFusionTable();
                      successMessage('Added point to the backend.')
                    },
                    function(error) {
                      error = JSON.parse(error.responseText);
                      failureMessage(error.message);
                    });
                } else {
                  failureMessage('Not detected as a valid address.')
                }
              }
            },
            // something went wrong, just ignore.
            function(status) {
              failureMessage('Problem in validation of coordinates.')
            });
        });

        // clear all locations click handler.
        document.getElementById("clear_locations").addEventListener('click', function() {
          console.log('Clearing all locations.')
          clearAllLocations();
          loadFusionTable();
          successMessage('Cleared all locations.')
        });

      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_BROWSER_KEY}}&callback=initMap">
    <script src="https://apis.google.com/js/client.js?onload=init">
    </script>
</body>
</html>
